<div class="container">
  <a routerLink="/resource/create" class="btn btn-primary" id="add-resource">
    Add a resource
  </a>
  <div class="row resource-list">
    <div class="col-md-4 col-sm-12 resource-card" *ngFor="let resource of resources">
      <div class="card">
        <a routerLink="/resources/{{resource.id}}">
          <div class="resource-header text-muted">
            <h5 class="card-title">
              {{resource.name}}
            </h5>
          </div>
          <div class="card-body resource-body">
            <p class="card-text resource-description">
              {{resource.description}}
            </p>
          </div>
        </a>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col-md-9">
              <div class="col-md-12 tags">
                <span *ngFor="let tag of resource.tags" class="badge badge-pill badge-secondary tag-badge">
                  {{ tag.name }}
                </span>
              </div>
              <div class="col-12">
                <i *ngFor="let stars of ratingAsStars(resource.rating)" class="material-icons">stars</i>
              </div>
            </div>
            <div class="col-md-3 delete-icon">
              <app-delete-resource [resource]="resource" (hasBeenDeleted)="onDelete($event)"></app-delete-resource>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
