<div class="container">
  <div *ngIf="article && !editMode" class="card article-detail-card">
    <div class="row">
      <div class="col">
        <i class="material-icons float-right" (click)="switchToEditMode()">edit</i>
      </div>
    </div>
    <app-read-only-article [article]="article"></app-read-only-article>
  </div>
  <div *ngIf="article && editMode">
    <app-create-article [article]="article" [editMode]="editMode" (hasSavedChanges)="onSave($event)"></app-create-article>
  </div>
</div>
