.registration-section {
  margin: 1rem;
  text-align: center;
  max-width: 60%;
  background-color: rgba(68, 72, 79, 0.56);
  padding: 0;
  border-radius: 15px;
  color: white;
}

.registration-header > div {
  opacity: 0.2;
  padding: 1rem 0 1rem;
}

.active-form {
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 1 !important;
  color: black;
}

.registration-button {
  border-right: 1px solid black;
}

.login-button {
  border-left: 1px solid black;
}

.registration-button:hover, .login-button:hover {
  cursor: pointer;
}
