<div class="container">
  <div class="row">
    <a routerLink="/article/create" class="btn btn-primary">
      Add an article
    </a>
  </div>
  <div class="row article-list">
    <div class="col-4 article-card" *ngFor="let article of articles">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{article.name}}
          </h5>
          <p class="card-text">
            {{article.description}}
          </p>
          <a routerLink="/articles/{{article.id}}" class="btn btn-primary">
            See details
          </a>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col-10">
              <i *ngFor="let stars of ratingAsStars(article.rating)" class="material-icons">stars</i>
            </div>
            <div class="col-2">
              <i class="material-icons delete-button" (click)="delete(article.id)">delete</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
