<div class="container">
  <div class="row">
    <h3 *ngIf="!editMode else edit" class="col text-center">
      You just found an amazing resource? Save it here!
    </h3>
    <ng-template #edit>
      <h3 class="col text-center">
        {{resource.name}}
      </h3>
    </ng-template>
  </div>

  <form [formGroup]="resourceForm" (ngSubmit)="onSubmit(resourceForm.value)">
    <div class="form-group">
      <label for="name">
        Name:
      </label>
      <input class="form-control" type="text" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="description">
        Description:
      </label>
      <input class="form-control" type="text" id="description" formControlName="description">
    </div>
    <div class="form-group">
      <label for="url">
        URL:
      </label>
      <input class="form-control" type="text" id="url" formControlName="url" required>
      <div class="alert alert-danger" [hidden]="!(url.invalid && url.touched)" id="url-errors-create-resource">
        <div *ngIf="url.errors?.required" id="required-url-create-resource">
          URL is required.
        </div>
        <div *ngIf="url.errors?.pattern" id="invalid-url-create-resource">
          Please provide a valid url.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="rating">
        Rating:
      </label>
      <input class="form-control" type="text" id="rating" formControlName="rating">
    </div>
    <div class="row">
      <div class="col text-center">
        <div *ngIf="resourceForm.errors?.serverError" class="alert alert-danger" id="server-error">
          {{ resourceForm.errors.serverError }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-success" type="submit" id="submit">Save</button>
      </div>
    </div>
  </form>
</div>
