.container a:first-child {
  float: right;
}

.article-list {
  margin-top: 30px;
}

.article-body {
  height: 200px;
}

.article-header {
  height: 50px;
  background-color: rgba(0,0,0,.03);
  text-align: center;
  padding-top: 10px;
  color: #44484f !important;
}

.article-description {
  height: 60%;
  text-align: justify;
}

.article-card {
  margin-bottom: 30px;
}

.card a {
  text-decoration: none;
}

.card-title, .card-body {
  color: black;
}

#add_article {
  margin-bottom: 20px;
}
